<p-stepper [value]="1" class="basis-[50rem]" *ngIf="!tieneRevision">
    <p-step-list>
        <p-step [value]="1">Datos del negocio</p-step>
        <p-step [value]="2">Anuncio y venta de alcohol</p-step>
        <p-step [value]="3">Observaciones</p-step>
    </p-step-list>
    <p-step-panels [formGroup]="formulario" (ngSubmit)="insertarRevisionDePc()">
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div >
                      <p-fieldset legend="Información del negocio">
                        <div class="grid grid-cols-1 gap-4">
                          <div class="flex flex-col gap-2">
                            <label>Nombre del negocio:</label>
                            <input pInputText formControlName="nombreNegocio" [placeholder]="nombreNegocio" (input)="convertirMayusculas('nombreNegocio')" class="p-inputtext w-full" />
                          </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                          <div class="flex flex-col gap-2">
                            <label>Nombre del responsable:</label>
                            <input pInputText formControlName="nombrePropietario" [placeholder]="nombrePropietario" (input)="convertirMayusculas('nombrePropietario')" class="p-inputtext w-full" />
                          </div>
                          <div class="flex flex-col gap-2">
                            <label>Numero del responsable:</label>
                            <input pInputText formControlName="numeroPropietario" [placeholder]="numeroPropietario" class="p-inputtext w-full" />
                          </div>
                        </div>
                          <div class="grid grid-cols-2 gap-4">
                            <div class="flex flex-col gap-2">
                              <label>Calle:</label>
                              <input pInputText  formControlName="calle" class="p-inputtext w-full" (input)="convertirMayusculas('calle')"/>
                              <small *ngIf="formulario.get('calle')?.invalid && formulario.get('calle')?.touched">
                                ⚠️ El campo calle es obligatorio.
                              </small>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>No:</label>
                              <input pInputText  formControlName="numero" class="p-inputtext w-full" />
                              <small *ngIf="formulario.get('numero')?.invalid && formulario.get('numero')?.touched">
                                ⚠️ El numero es obligatorio.
                              </small>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Colonia:</label>
                              <input pInputText  formControlName="colonia" class="p-inputtext w-full" (input)="convertirMayusculas('colonia')"/>
                              <small *ngIf="formulario.get('colonia')?.invalid && formulario.get('colonia')?.touched">
                                ⚠️ El colonia es obligatorio.
                              </small>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Municipio:</label>
                              <input pInputText  formControlName="municipio" class="p-inputtext w-full" (input)="convertirMayusculas('municipio')"/>
                              <small *ngIf="formulario.get('municipio')?.invalid && formulario.get('municipio')?.touched">
                                ⚠️ El municipio es obligatorio.
                              </small>
                            </div>
                          </div>
                        </p-fieldset>
                        <!-- METRAJE -->
                        <p-fieldset legend="Metraj del establecimiento">
                          <div class="grid grid-cols-3 gap-4">
                            <div class="flex flex-col gap-2">
                              <label>Frente (m):</label>
                              <input pInputText  formControlName="metrajeFrente" class="p-inputtext w-full" />
                              <small *ngIf="formulario.get('metrajeFrente')?.invalid && formulario.get('metrajeFrente')?.touched">
                                ⚠️ El metrajeFrente es obligatorio.
                              </small>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Largo (m):</label>
                              <input pInputText  formControlName="metrajeLargo" class="p-inputtext w-full" />
                              <small *ngIf="formulario.get('metrajeLargo')?.invalid && formulario.get('metrajeLargo')?.touched">
                                ⚠️ El metrajeLargo es obligatorio.
                              </small>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Total (m 2):</label>
                              <input pInputText  formControlName="metrajeTotal" class="p-inputtext w-full" />
                              <small *ngIf="formulario.get('metrajeTotal')?.invalid && formulario.get('metrajeTotal')?.touched">
                                ⚠️ El metrajeTotal es obligatorio.
                              </small>
                            </div>
                          </div>
                        </p-fieldset>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                    </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div>
                    <p-checkbox value="anuncio" inputId="anu" [binary]="true" (onChange)="cambiarEstadoAnuncio($event)"/>
                    <label for="ny" class="ml-2">¿El negocio tiene anuncios?</label>
                  </div>
                  <p-fieldset legend="Metraje de anuncio" [ngClass]="{'fieldset-disabled': !chkAnuncios}">
                    <div class="grid grid-cols-1 gap-4" >
                      <div class="flex flex-col gap-2">
                          <label>Tipo de anuncio:</label>
                          <input pInputText  formControlName="tipoAnuncio" class="p-inputtext w-full" (input)="convertirMayusculas('tipo_anuncio')"/>
                      </div>
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="flex flex-col gap-2">
                          <label>Frente (m):</label>
                          <input pInputText  formControlName="medidaFrenteAnuncio" class="p-inputtext w-full" />
                        </div>
                        <div class="flex flex-col gap-2">
                          <label>Largo (m):</label>
                          <input pInputText  formControlName="medidaLargoAnuncio" class="p-inputtext w-full" />
                        </div>
                        <div class="flex flex-col gap-2">
                          <label>Total (m2):</label>
                          <input pInputText  formControlName="metrajeAnuncioTotal" class="p-inputtext w-full" />
                        </div>
                    </div>
                  </p-fieldset>

                  <div>
                    <p-checkbox value="bebidas" inputId="beb" [binary]="true" (onChange)="cambiarEstadoBebidas($event)"/>
                    <label for="ny" class="ml-2">¿El negocio vende bebidas alcoholicas?</label>
                  </div>

                  <p-fieldset legend="Licencia de bebidas alcoholicas" [ngClass]="{'fieldset-disabled': !chkBebidas}">
                    <div class="grid grid-cols-1 gap-4">
                      <div class="flex flex-col gap-2">
                          <label>Tipo de venta de alcohol:</label>
                          <input pInputText  class="p-inputtext w-full"  />
                      </div>
                    </div>
                  </p-fieldset>

                  <div class="flex pt-6 justify-between" >
                      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                      <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                  </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div>
                    <p-fieldset legend="Observacion 1">
                      <div class="grid grid-cols-1 gap-4">
                        <textarea rows="5" cols="30" formControlName="observacion1" pTextarea [autoResize]="true" (input)="convertirMayusculas('observacion1')"></textarea>
                      </div>
                    </p-fieldset>

                    <p-fieldset legend="Observacion 2">
                      <div class="grid grid-cols-1 gap-4">
                        <textarea rows="5" cols="30" formControlName="observacion2" pTextarea [autoResize]="true" (input)="convertirMayusculas('observacion2')"></textarea>
                      </div>
                    </p-fieldset>
                  </div>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" icon="pi pi-arrow-left" severity="secondary" iconPos="right" (onClick)="activateCallback(2)" />
                        <p-button label="Guardar" iconPos="left" type="submit" [disabled]="formulario.invalid" (onClick)="insertarRevisionDePc()"/>
                    </div>
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>

<div *ngIf="tieneRevision" class="h-screen flex justify-center items-center">
  <p-message>EL NEGOCIO YA TIENE UNA REVISIÓN DE PROTECCION CIVIL </p-message>
</div>


<!-- <div class="card flex justify-center" *ngIf="esAmbulante">
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
            <p-step [value]="1">SERVICIOS</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                          <label for=""> PAGO DIARIO </label>
                        </div>
                        <div class="flex pt-6 justify-end">
                          <p-button label="Guardar" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
</div> -->
