<p-stepper [value]="1" class="basis-[50rem]" *ngIf="tieneRevision">
    <p-step-list>
        <p-step [value]="1">Datos del negocio</p-step>
        <p-step [value]="2">Anuncio y venta de alcohol</p-step>
        <p-step [value]="3">Observaciones</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div >
                      <p-fieldset legend="Información del negocio">
                          <div class="grid grid-cols-2 gap-4">
                            <div class="flex flex-col gap-2">
                              <label>Calle:</label>
                              <input type="text" pInputText [(ngModel)]="calle_n" class="p-inputtext w-full" (input)="calle_n = calle_n?.toUpperCase()"/>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>No:</label>
                              <input pInputText  [(ngModel)]="numero_n" class="p-inputtext w-full" />
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Colonia:</label>
                              <input pInputText [(ngModel)]="colonia_n" class="p-inputtext w-full" (input)="colonia_n = colonia_n?.toUpperCase()"/>
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Municipio:</label>
                              <input pInputText [(ngModel)]="municipio_n" class="p-inputtext w-full" (input)="municipio_n = municipio_n?.toUpperCase()"/>
                            </div>
                          </div>
                        </p-fieldset>
                        <!-- METRAJE -->
                        <p-fieldset legend="Metraje del establecimiento">
                          <div class="grid grid-cols-3 gap-4">
                            <div class="flex flex-col gap-2">
                              <label>Frente (m):</label>
                              <input pInputText type="number" (ngModelChange)="calcularTotal()" (blur)="calcularTotal()" [(ngModel)]="metraje_frente_n" class="p-inputtext w-full" />
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Largo (m):</label>
                              <input pInputText type="number" (ngModelChange)="calcularTotal()" (blur)="calcularTotal()" [(ngModel)]="metraje_largo_n" class="p-inputtext w-full"  />
                            </div>
                            <div class="flex flex-col gap-2">
                              <label>Total (m 2):</label>
                              <input pInputText  [(ngModel)]="metraje_total_n" class="p-inputtext w-full" [disabled]="true"/>
                            </div>
                          </div>
                        </p-fieldset>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                    </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div>
                    <p-checkbox value="anuncio" [(ngModel)]="tiene_publicidad_n" inputId="anu" [binary]="true" (onChange)="cambiarEstadoAnuncio($event)"/>
                    <label for="ny" class="ml-2">¿El negocio tiene anuncios?</label>
                  </div>
                  <p-fieldset legend="Metraje de anuncio" [ngClass]="{'fieldset-disabled': !chkAnuncios}">
                    <div class="grid grid-cols-1 gap-4" >
                      <div class="flex flex-col gap-2">
                          <label>Tipo de anuncio:</label>
                          <input pInputText  [(ngModel)]="tipo_anuncio_n" class="p-inputtext w-full" (input)="tipo_anuncio_n = tipo_anuncio_n?.toUpperCase()"/>
                      </div>
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="flex flex-col gap-2">
                          <label>Frente (m):</label>
                          <input pInputText type="number" (ngModelChange)="calcularTotalPublicidad()" (blur)="calcularTotalPublicidad()" [(ngModel)]="medida_frente_anuncio_n" class="p-inputtext w-full" />
                        </div>
                        <div class="flex flex-col gap-2">
                          <label>Largo (m):</label>
                          <input pInputText type="number" (ngModelChange)="calcularTotalPublicidad()" (blur)="calcularTotalPublicidad()" [(ngModel)]="medida_largo_anuncio_n" class="p-inputtext w-full" />
                        </div>
                        <div class="flex flex-col gap-2">
                          <label>Total (m2):</label>
                          <input pInputText type="number" [(ngModel)]="metraje_anuncio_total_n" class="p-inputtext w-full" />
                        </div>
                    </div>
                  </p-fieldset>

                  <div>
                    <p-checkbox value="bebidas" [(ngModel)]="vende_alcohol_n" inputId="beb" [binary]="true" (onChange)="cambiarEstadoBebidas($event)"/>
                    <label for="ny" class="ml-2">¿El negocio vende bebidas alcoholicas?</label>
                  </div>

                  <p-fieldset legend="Licencia de bebidas alcoholicas" [ngClass]="{'fieldset-disabled': !chkBebidas}">
                    <div class="grid grid-cols-1 gap-4">
                      <div class="flex flex-col gap-2">
                          <label>Tipo de venta de alcohol:</label>
                          <!-- <input pInputText  class="p-inputtext w-full"  /> -->
                           <p-select [options]="licenciasAlcohol" [(ngModel)]="revisionSeleccionada" optionValue="licencia" optionLabel="licencia" placeholder="{{tipo_licencia_alcohol_n}}" appendTo="body" class="w-full md:w-56"  [style]="{ 'width': '100%' }" />
                      </div>
                    </div>
                  </p-fieldset>

                  <div class="flex pt-6 justify-between" >
                      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                      <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                  </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div>
                    <p-fieldset legend="Observacion 1">
                      <div class="grid grid-cols-1 gap-4">
                        <textarea rows="5" cols="30" [(ngModel)]="observacion1_n" pTextarea [autoResize]="true" (input)="observacion1_n = observacion1_n?.toUpperCase() "></textarea>
                      </div>
                    </p-fieldset>

                    <p-fieldset legend="Observacion 2">
                      <div class="grid grid-cols-1 gap-4">
                        <textarea rows="5" cols="30" [(ngModel)]="observacion2_n" pTextarea [autoResize]="true" (input)="observacion2_n = observacion2_n?.toUpperCase()"></textarea>
                      </div>
                    </p-fieldset>
                  </div>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" icon="pi pi-arrow-left" severity="secondary" iconPos="right" (onClick)="activateCallback(2)" />
                        <p-button label="Actualizar" iconPos="left" type="submit" (onClick)="actualizarRevision()"/>
                    </div>
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>

<div *ngIf="!tieneRevision" class="h-screen flex justify-center items-center">
  <p-message>EL NEGOCIO NO TIENE UNA REVISIÓN DE PROTECCION CIVIL </p-message>
</div>


<!-- <div class="card flex justify-center" *ngIf="esAmbulante">
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
            <p-step [value]="1">SERVICIOS</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                          <label for=""> PAGO DIARIO </label>
                        </div>
                        <div class="flex pt-6 justify-end">
                          <p-button label="Guardar" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
</div> -->
