<p-toast />
<div class="card flex justify-center">
  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
        <p-step [value]="1">Informacion del Negocio</p-step>
        <p-step [value]="2" [ngStyle]="{'display': !esAmbulante ? 'block' : 'none'}">Servicios asociados</p-step>
        <p-step [value]="3" [ngStyle]="{'display': chkPublicidad || chkBebidas && !esAmbulante ? 'block' : 'none'}">Otros Servicios</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                      <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Nombre Negocio</label>
                            <input type="text" pInputText (ngModelChange)="onFieldChange()" [(ngModel)]="nombreNegocio" (input)="nombreNegocio = nombreNegocio?.toUpperCase()" [style]="{ 'width' : '400px' }" class="font-bold"/>
                          <small id="username-help">Ingrese el nombre correcto a editar!</small>
                        </div>
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Dirección Negocio</label>
                            <input type="text" pInputText (ngModelChange)="onFieldChange()" [(ngModel)]="direccionNegocio" (input)="direccionNegocio = direccionNegocio?.toUpperCase()" [style]="{ 'width' : '400px' }" class="font-bold"/>
                          <small id="username-help">Ingrese direccion!</small>
                        </div>
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Numero Telefónico</label>
                          <!-- <input pInputNumber [showButtons]="false" type="number" maxlength="10" [(ngModel)]="numero_telefonico" [style]="{ 'width' : '300px' }" class="font-bold" /> -->
                          <p-input-number [useGrouping]="false"
                                          [maxFractionDigits]="0"
                                          [minFractionDigits]="0"
                                          [(ngModel)]="telefonoNegocio"
                                          [style]="{ 'width' : '300px' }"
                                          class="font-bold"
                                          [max]="9999999999"
                                          [min]="1000000000"
                                          [showButtons]="false"
                                          mode="decimal"
                                          maxlength="10"
                                          (ngModelChange)="onFieldChange()"/>
                          <small id="username-help">Ingrese el numero a editar!</small>
                        </div>
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Es ambulante:</label>
                          <p-checkbox [(ngModel)]="esAmbulante" (ngModelChange)="onFieldChange()" [binary]="true" />
                          <!-- <input pInputNumber [showButtons]="false" type="number" maxlength="10" [(ngModel)]="numero_telefonico" [style]="{ 'width' : '300px' }" class="font-bold" /> -->
                          <small id="username-help">Seleccione: si | no</small>
                        </div>
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Propietario</label>
                            <p-select [options]="listadoPropietarios" placeholder="Seleccione..." (ngModelChange)="onFieldChange()" appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_propietario" [(ngModel)]="propietarioSeleccionado" optionLabel="nombre_propietario"  class="w-full md:w-56"  [style]="{ 'width': '150%' }"/>
                          <small id="username-help">Ingrese el nombre a editar!</small>
                        </div>
                        <div class="flex flex-col gap-2" style="width: 50%;">
                          <label for="username">Actividad Económica</label>
                          <p-select [options]="actividadesEconomicas" placeholder="Seleccione..." (ngModelChange)="onFieldChange()" appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_actividad" [(ngModel)]="actividadSeleccionada" optionLabel="nombre_actividad" class="w-full md:w-56"  [style]="{ 'width': '150%' }"/>
                          <small id="username-help">Seleccione una opcion...</small>
                        </div>
                      </div>
                    </div>
                    <div class="flex pt-6 justify-between" >
                        <p-button label="Guardar"  *ngIf="esAmbulante" (onClick)="insertarNegocio()"/>
                        <p-button label="Next" [ngStyle]="{'display': !esAmbulante ? 'block' : 'none'}" severity="info" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2);" />
                    </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <p-fieldset legend="INDUSTRIA Y COMERCIO">
                    <div class="minimal-label">
                      <label for="">CEDULA DE EMPADRONAMIENTO</label>
                      <small id="username-help">
                        ¿PAGADO?
                      </small>
                    </div>
                    <div>
                      <div style="display: flex;">
                        <div class="flex items-center">
                          <p-radiobutton name="si" value="true" [(ngModel)]="pagoEmpadronamiento" inputId="PE1" />
                          <label for="PE1" class="ml-2">SI</label>
                        </div> &nbsp;
                        <div class="flex items-center">
                          <p-radiobutton name="no" value="false" [(ngModel)]="pagoEmpadronamiento" inputId="PE2" />
                          <label for="PE2" class="ml-2">NO</label>
                        </div>
                      </div>
                    </div>
                  </p-fieldset>
                  <p-fieldset legend="PATRIMONIO Y HACIENDA PUBLICA MUNICIPAL">
                    <div class="minimal-label">
                      <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">

                        <div class="flex flex-col gap-2" style="justify-content: center;">
                          <label for="username">LICENCIA DE USO DE SUELO (COMERCIOS)</label>
                          <p-select [options]="serviciosLicSuelo" placeholder="Seleccione..." (ngModelChange)="onFieldChange()" appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_servicio" [(ngModel)]="servicioLicSueloSeleccionado" optionLabel="nombre_servicio"  class="w-full md:w-56"  [style]="{ 'width': '150%' }"/>
                          <small id="username-help">
                            ¿PAGADO?
                          </small>
                        </div>

                      </div>

                    </div>
                    <div style="display: flex;">
                      <div class="flex items-center">
                        <p-radiobutton name="si" value="true" [(ngModel)]="pagoLicenciaUsoSuelo" inputId="PLU1" />
                        <label for="PLU1" class="ml-2">SI</label>
                      </div> &nbsp;
                      <div class="flex items-center">
                        <p-radiobutton name="no" value="false" [(ngModel)]="pagoLicenciaUsoSuelo" inputId="PLU2" />
                        <label for="PLU2" class="ml-2">NO</label>
                      </div>
                    </div>
                  </p-fieldset>
                  <p-fieldset legend="PROTECCION CIVIL">
                    <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">

                      <div class="flex flex-col gap-2" style="justify-content: center;">
                        <label for="username">REVISION DE PROTECCION CIVIL</label>
                        <p-select [options]="serviciosPc" placeholder="Seleccione..." (ngModelChange)="onFieldChange()" appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_servicio" [(ngModel)]="servicioPcSeleccionado" optionLabel="nombre_servicio"  class="w-full md:w-56"  [style]="{ 'width': '150%' }"/>
                        <small id="username-help"></small>
                      </div>

                    </div>
                    <div style="display: flex;">
                      <div class="flex items-center">
                        <p-radiobutton name="si" value="true" [(ngModel)]="pagoRevisionProteccionCivil" inputId="RPC1" />
                        <label for="RPC1" class="ml-2">SI</label>
                      </div> &nbsp;
                      <div class="flex items-center">
                        <p-radiobutton name="no" value="false" [(ngModel)]="pagoRevisionProteccionCivil" inputId="RPC2" />
                        <label for="RPC2" class="ml-2">NO</label>
                      </div>
                    </div>
                  </p-fieldset>
                  <div class="card grid grid-cols-1 md:grid-cols-2 gap-4" style="margin-top: 10px;">

                    <div  style="justify-content: center;">
                      <label for="">¿EL NEGOCIO VENDE BEBIDAS ALCHOLICAS?</label> &nbsp;
                      <p-checkbox [(ngModel)]="chkBebidas" [binary]="true" />
                    </div>
                    <div style="justify-content: center;">
                      <label for="">¿EL NEGOCIO MANEJA PUBLICIDAD?</label> &nbsp;
                      <p-checkbox [(ngModel)]="chkPublicidad" [binary]="true" />
                    </div>
                  </div>

                  <div class="flex pt-6 justify-between">
                    <p-button label="Atras" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                    <p-button label="Guardar" *ngIf="!chkPublicidad && !chkBebidas" (onClick)="insertarNegocio()"/>
                    <p-button [ngStyle]="{'display': chkPublicidad || chkBebidas ? 'block' : 'none'}" label="Siguiente" severity="info" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                  </div>
                </div>

            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3" [ngStyle]="{'display': chkPublicidad || chkBebidas ? 'block' : 'none'}">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <p-fieldset legend="PATRIMONIO Y HACIENDA PUBLICA MUNICIPAL">
                    <div class="minimal-label">
                      <div class="card grid grid-cols-1 md:grid-cols-2 gap-4" >

                        <div class="flex flex-col gap-2" style="justify-content: center; width: 100%;" *ngIf="chkBebidas">
                          <label for="">LICENCIA DE BEBIDAS ALCOHOLICAS</label>
                          <p-select [options]="serviciosBebidas" (ngModelChange)="onFieldChange()" placeholder="Seleccione..." appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_servicio" [(ngModel)]="servicioBebidaSeleccionado" optionLabel="nombre_servicio"  class="w-full md:w-100"  />
                          <small id="username-help">¿PAGADO?</small>
                          <div>
                            <div style="display: flex;">
                              <div class="flex items-center">
                                <p-radiobutton name="si" value="true" [(ngModel)]="pagoLicenciaBebidasAlc" inputId="LBA1" />
                                <label for="LBA1" class="ml-2">SI</label>
                              </div> &nbsp;
                              <div class="flex items-center">
                                <p-radiobutton name="no" value="false" [(ngModel)]="pagoLicenciaBebidasAlc" inputId="LBA2" />
                                <label for="LBA2" class="ml-2">NO</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="flex flex-col gap-2" style="justify-content: center; width: 100%;" *ngIf="chkPublicidad">
                          <label for="username">LICENCIA DE PUBLICIDAD</label>
                          <p-select [options]="serviciosBebidas" (ngModelChange)="onFieldChange()" placeholder="Seleccione..." appendTo="body" [filter]="true" [showClear]="true" filterBy="nombre_servicio" [(ngModel)]="servicioPublicidadSeleccionado" optionLabel="nombre_servicio"  class="w-full md:w-100"  />
                          <small id="username-help">¿PAGADO?</small>
                          <div>
                            <div style="display: flex;">
                              <div class="flex items-center">
                                <p-radiobutton name="si" value="true" [(ngModel)]="pagoLicenciaPublicidad" inputId="LP1" />
                                <label for="LP1" class="ml-2">SI</label>
                              </div> &nbsp;
                              <div class="flex items-center">
                                <p-radiobutton name="no" value="false" [(ngModel)]="pagoLicenciaPublicidad" inputId="LP2" />
                                <label for="LP2" class="ml-2">NO</label>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </p-fieldset>
                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Atras" severity="secondary" icon="pi pi-arrow-left" iconPos="left" (onClick)="activateCallback(2)" />
                    <p-button label="Guardar" (onClick)="insertarNegocio()"/>
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>
</div>
