<div class="card">
  <p-toast />
  <!-- <div class="flex justify-center items-center mb-6 gap-2">
    <p-toggleswitch [(ngModel)]="metaKey" inputId="input-metakey" />
    <label for="input-metakey">MetaKey</label>
  </div> -->
  <p-contextMenu #cm [model]="opcionesPropietarios" ></p-contextMenu>
  <p-confirmDialog></p-confirmDialog>
  <p-table
    #dt2
    [value]="listadoPropietarios"
    dataKey="folio_propietario"
    [tableStyle]="{'min-width': '50rem'}"
    [(contextMenuSelection)]="propietarioSeleccionado"
    [contextMenu]="cm"
    [paginator]="true"
    [globalFilterFields]="['folio_propietario ', 'nombre_propietario']"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]">

    <ng-template #caption>
      <div class="d-flex justify-content-center">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
              <i class="pi pi-search"></i>
          </p-inputicon>
          <!-- <input pInputText type="text" (input)="dt2.filterGlobal(onGlobalFilter(dt2, $event), 'contains')" placeholder="Search keyword"/> -->
          <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar...">
          &nbsp;
          <p-button icon="pi pi-plus" (onClick)="modalAgregarPropietario()" severity="success" pTooltip="Agregar nuevo propietario"/>
        </p-iconfield>

      </div>

    </ng-template>

    <ng-template #header>
      <tr >
          <th class="center-content">Folio Propietario</th>
          <th class="center-content">Nombre Propietario</th>
          <th class="center-content">Numero de empresas</th>
          <th class="center-content">Numero de contacto</th>
          <!-- <th colspan="3">
                <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar...">
          </th> -->
      </tr>
    </ng-template>

    <ng-template #body let-prop>
      <tr [pContextMenuRow]="prop" class="highlight-row">
        <td class="center-content">{{ prop.folio_propietario }}</td>
        <td class="center-content">{{ prop.nombre_propietario }}</td>
        <td class="center-content">0</td>
        <td class="center-content">{{ prop.numero_telefonico == null ? 'No Asignado' : prop.numero_telefonico }}</td>
      </tr>
    </ng-template>
  </p-table>

</div>

