

<div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="flex flex-col gap-2" style="width: 50%;">
    <label for="username">Nombre Completo</label>
    <input type="text" pInputText  [(ngModel)]="nombre_propietario" [style]="{ 'width' : '400px' }" class="font-bold"/>
    <small id="username-help">Ingrese el nombre correcto a editar!</small>
  </div>
  <div class="flex flex-col gap-2" style="width: 50%;">
    <label for="username">Numero Telefónico</label>
    <!-- <input pInputNumber [showButtons]="false" type="number" maxlength="10" [(ngModel)]="numero_telefonico" [style]="{ 'width' : '300px' }" class="font-bold" /> -->
    <p-input-number [useGrouping]="false"
                    [maxFractionDigits]="0"
                    [minFractionDigits]="0"
                    [(ngModel)]="numero_telefonico"
                    [style]="{ 'width' : '300px' }"
                    class="font-bold"
                    [max]="9999999999"
                    [min]="1000000000"
                    [showButtons]="false"
                    mode="decimal"
                    maxlength="10"/>
    <small id="username-help">Ingrese el numero a editar!</small>
  </div>
</div>
<div class="card grid grid-cols-1 md:grid-cols-2 gap-4" style="margin-top: 30px; display: flex; justify-content: center; text-align: center;">

  <div>
    <p-button label="Guardar" (onClick)="actualizarPropietario()" icon="pi pi-check" iconPos="right" />
  </div>
  <div>
    <p-button label="Cancelar" (onClick)="cancelar()" icon="pi pi-times"  severity="danger" />
  </div>
</div>
